/*html {
	background-image: url("../img/cyclops.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.jumbotron{
	


}*/

.jumbotron h1{
	text-align: center;
}